<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
   <div class="header">
    <div class="info">
        <h1>Hatm Osama Hatm Sinjlawi</h1>
        
    </div>
    <div class="photo">
        <img src="hello.png" alt="cvpic">
    </div>
</div>
    <h2>About Me:</h2>
    <h4>
        I am Hatm Osama Hatm Sinjlawi, a passionate computer science graduate with experience in Python, Flask, 
        web development, and API design. I enjoy creating efficient and clean code, solving problems, and 
        learning new technologies to build innovative projects.
    </h4>

    <h2>Education :</h2>
     <h4>Bachelor degree Computer science from Al Ahlyeh Amman University </h4>
    <h2>Skills :</h2>
<ul>
    <li>Data Structures & Algorithms</li>
    <li>Object-Oriented Programming (OOP)</li>
    <li>API Development & Integration</li>
    <li>Design Patterns</li>
    <li>Software Testing & Debugging</li>
</ul>

<h2>Experience:</h2>
<ul>
    <li>Data Structures & Algorithms</li>
    <li>Object-Oriented Programming (OOP)</li>
    <li>API Development & Integration</li>
    <li>Design Patterns</li>
    <li>Software Testing & Debugging</li>
</ul>
<h2>Projects :</h2>
<ul>
    <li>Blog API — <strong>Flask + SQLite</strong></li>
    <li>Todo App — <strong>Flask + HTML + CSS</strong></li>
    <li>Portfolio API — <strong>Flask only</strong></li>
</ul>
<h2>Frameworks :</h2>
<ul>
    <li>Flask</li>
    <li>Django</li>
    <li>FastAPI</li>
    <li>React.js</li>
    <li>Vue.js</li>
    <li>Angular</li>
    <li>Flutter</li>
    <li>React Native</li>
    <li>Node.js (Express)</li>
    <li>Laravel</li>
    <h2>Contact :</h2>
    <h4>Email:hatmsinjlawi@outlook.com <br>phone +(962) 779092453 <br> Address: Amman   </h4>
</ul>


</body>
</html>