name: CI/CD Pipeline – Local Deployment

on:
  push:
    branches:
      - main

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Run Unit Tests
        run: |
          pip install -r requirements.txt
          pip install pytest
          pytest || echo "⚠️ No tests found."

      - name: Deploy to Local Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.10.20.40.4 }}
          username: ${{ secrets.cybersecurity }}
          key: ${{ secrets.b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAACFwAAAAdzc2gtcn
NhAAAAAwEAAQAAAgEAtaIHVbfHjq5RdK+Fn4zejstsfEROs/PYZciANfPf3Zh+qupCu5F4
iqH6SY4ZdDXEXywE+fThHbRyksfblf9OGifatQqjxtL2GnV0Dv0XUuZA6c4WoOl+MVcDKG
zvkCGDrZjXac9fsYYMAb1SrWBH302BA9pt8LU08bXLF5w50UXBz5eB/f4dpQKhknVSipUY
qnBHZIo+wclM0Uc3y/jXugzrEFt32PsMwnI0rzlDE+bUzK8B2f35ojYXtdBOyyzBTkvbpI
/l/g4Jog5RN0SbeJ/rWU+0iBgbNyiMO8jAckVYGE3NCJ/Vt92QrFPu1kQNdUh4inC2Ioln
TQCatnyV9lXEfmhoftMPhEnugm7Ht3dqpbXm8GKviZm5G4e36FCipGBEOUdVqPE1z9eMuw
YaPbMXbPGBnQkO/8JlV0Of3DiBPMYChHpNLtFZZQI36u0B6hI0Bm5uOUP8x/oi2A6O93wo
Jy/RRKseA5Td6Q70570pJCrnB29JgdzpAau3Um1vF+z5E3RV/s1OlqBu162zUbvCboVWRe
1psNdmee1OkCogNK+EKhLJNNeCdsyZoRed4ZrojG35ca998uUByVkBqnxbB9+9Kqxw04hg
E8d3dRfGRLYZc/7FR+KZ5ZKn7oSbaG7Sav1Q/Zge36m30O/rMxvCF/Sd1EsNcDBScBaRtF
sAAAdIFKCxbhSgsW4AAAAHc3NoLXJzYQAAAgEAtaIHVbfHjq5RdK+Fn4zejstsfEROs/PY
ZciANfPf3Zh+qupCu5F4iqH6SY4ZdDXEXywE+fThHbRyksfblf9OGifatQqjxtL2GnV0Dv
0XUuZA6c4WoOl+MVcDKGzvkCGDrZjXac9fsYYMAb1SrWBH302BA9pt8LU08bXLF5w50UXB
z5eB/f4dpQKhknVSipUYqnBHZIo+wclM0Uc3y/jXugzrEFt32PsMwnI0rzlDE+bUzK8B2f
35ojYXtdBOyyzBTkvbpI/l/g4Jog5RN0SbeJ/rWU+0iBgbNyiMO8jAckVYGE3NCJ/Vt92Q
rFPu1kQNdUh4inC2IolnTQCatnyV9lXEfmhoftMPhEnugm7Ht3dqpbXm8GKviZm5G4e36F
CipGBEOUdVqPE1z9eMuwYaPbMXbPGBnQkO/8JlV0Of3DiBPMYChHpNLtFZZQI36u0B6hI0
Bm5uOUP8x/oi2A6O93woJy/RRKseA5Td6Q70570pJCrnB29JgdzpAau3Um1vF+z5E3RV/s
1OlqBu162zUbvCboVWRe1psNdmee1OkCogNK+EKhLJNNeCdsyZoRed4ZrojG35ca998uUB
yVkBqnxbB9+9Kqxw04hgE8d3dRfGRLYZc/7FR+KZ5ZKn7oSbaG7Sav1Q/Zge36m30O/rMx
vCF/Sd1EsNcDBScBaRtFsAAAADAQABAAACABZB78IqTjMG24aAB9Dgc1luRjIIMNjOdeMr
KcLyyqkeCc+p+1l+3xWl+cTPvADIofLDsyxqPLfmJ/Aiu57q9UgxQBTVY/J2YaAman13uE
b5XlUIYy9+zW8AaaunhcfUw40fYK5fsitP8OK5r4r9dHFBzyCIwNYxbnZ8P5H6G/+wG6rz
twNIA5v38ZK/+8htsuMX9Te11TDsGRTANG8zZEQxVxDfFJWrVgnx8tDSJI0oyUT34TM0c0
XUeR1XlIBDUMDmfNjypU13rOiF9p/eMWsbtbxxDv9qbNNajay50hNuuffoeMqow4jPhu4H
Lwpktn17zwGwBDHBQr5l54+bPskHGmv09iBPFpck7yved0P6rAPRcAPTtAm8W+csZ0eU+8
V2Gz1cPncviqqT/rwDrtWv3Ribtd1QuWFFvRTQrLTFLHk4qndif6VS/dZiNUwIT4c3XFtW
YJpLUuKinY6M8HojJgRFQ/VyanN7f8+Bbi0AYwsAYFFbCPi/HYi/t2o/5t+zDmvbfROjOr
Ilqeypb0SpRsIni48uQYyXC8Q5OYuM958KRw/CeHL8EJ1zesRqA2zlHV8+rputZXFt4Bdp
9/W7EBTVJId2a+UUb9FhHMaWo9Cv8xGi6at5lYqMae+1fweoA1j7cW4ifKfAmNoOiQqQ+F
fFgh8ZE5RqQAYV425RAAABAAFDY2ju4H21QQTl0+4mnHzt1pVplrRJjukgwSS867urV4eH
tBTgwrOXVFwWH9HyrfLsXiOf0eGBy6CvopGpiylYjWRsAcBv/ab39O8+dOqniKGNuuPFkf
d4BfLQf+DSif0XY7R9DpHxgfHd/KVy3eh98UZf2airt2xAC/IsK7itmYVMk8L0pa6RhmVD
5MZ4eXrFXm07TqCtcDpBPcA+TWcVabWl6+8bCbpyPnqxpNhxfF22eQoAV9WZpysfNmA78U
zoBpM6P3Sqmi7VnamuZ+kP2m1C9hk8aOWhEcaOE2N0dRlX+7IJ1ssz8Otsas6LS/E3l6wD
T+5VOCQs1x4xy00AAAEBAOJRawZCxepfxeqYYD7sTfFGJEyFBHhEOlUS9KKIAQYnE23UM2
3dnB1CT1yy+PuzCj1xrnScDTqK+qCdUOuwcGYm6CMic4c2BdmG0swZo34tZql5a/Nz4RzG
jMV/xrL3JxCB9gylpgFG6q3ca+VLNklhnQg82Yf0jAjny1s2Xy1iM380lAcqgZ0HiSNI+q
qPhRbRGBbs+gBPa0ejux0AaJyE68cTQTL71Y9qG40Dcnud2C9n0gpwqMq6RxdqFtCtbhqJ
0HY0Kg6Oq5Pr0905fLDp7SUytxB4nN2veBFVSN+icnDUWRC59w0mJgn4dhyYfzrF/4DWnF
cro0Rq0tbU9xkAAAEBAM10USXVm6vekBIvcRfBEWtd1e8DlzJutNiJGHII60RiDQOg6A+6
b2PIVlmX7sgrKnK4wmIKqkb8k7Yv3FaMRWoTvlWNiVD3Obb7CtSeSYyd5GGBroHdeYe6ZH
g9qdbLc5uuoDfJg11/0p3GtWKaurXboSpF54p/RG7JuDQAO+sgovTrhG8VpkyrOnyq351c
SA179GbFJDbHHGPa/qmdV8QT+Api4gD6n04ZxkE0lGXhBh6Tjjz37TNmV6OYOuXwN5FqMe
wfHw9yqwU5cYRcIo+mVTb0I6tZX9irsMw/vYm599bxkxgm5cbHTxWz/GUfeVJG0nz2R+J0
tBhbwu4FeZMAAAANZ2l0aHViX2RlcGxveQECAwQFBg== }}
          script: |
            bash /opt/cvproject1/deploy.sh
